<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="30000">
        <setting label="30001" type="text" id="remoteports" default="22, 445" />
        <setting label="30002" type="text" id="localports" default="445, 2049" />
        <setting label="30003" type="text" id="procs" default="HandBrakeCLI, ffmpeg, makemkv, makemkvcon" />
        <setting label="30004" type="bool" id="pvrlocal" default="true" />
        <setting label="30005" type="number" subsetting="true" enable="eq(-1,true)" id="pvrport" default="34890" />
        <setting label="30006" type="number" subsetting="true" enable="eq(-2,true)" id="pvrwaketime" default="10" />
        <setting label="30007" type="number" id="sleep" default="60" />
    </category>
</settings>
